/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
prod.sh
public/images/*.jpg
public/images/map-card/*.jpg
.idea/php.xml
.idea/TrailTracker.iml
.idea/workspace.xml
.idea/dataSources/f68352d2-5473-4b8b-b9aa-f0f7c8a8c25f.xml
.idea/inspectionProfiles/Project_Default.xml
